<%= simple_form_for(@student) do |f| %>
<%= f.error_notification %>
<div class="container">
    <form role="form">
        <div class="form-group">
            <div class="form-inputs">
                <%= f.input :name, placeholder: "Enter your name"%>
                <%= f.input :email, placeholder: "Enter your email" %>
                <%= f.input :rollno, placeholder: "Enter your roll number" %>
                <%= f.input :regno, placeholder: "Enter your register number"%>
                <%= f.input :dep,label: 'Department', collection: ['CSE', 'IT', 'ECE', 'EEE', 'MECH', 'CIVIL'], include_blank: false,prompt: "Select your department" %>
                <%= f.input :year, collection: ['I', 'II', 'III', 'IV'], include_blank: false,prompt: "Select your year" %>
            </div>
        </div>
        <div class="form-actions">
            <%= f.button :submit,class: "btn btn-primary"  %>
        </div>
        <% end %>
    </div>
